<h1>home page</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<P>Here the respresenting data is taken from Blog controller database by inspect method</p>
<h1>home page</h1>

<h1>blog posts</h1>
<%= @posts.inspect %>

<h1>skills</h1>

<%= @skills.inspect %>




